#signOutButton{
    -fx-background-color: #6747CD;
    -fx-background-radius: 0px;
}

#signOutButton:hover{
    -fx-background-color: #6747CD;
    -fx-background-radius: 0px;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-style: solid;
}

#mainButton{
    -fx-background-color: #6747CD;
    -fx-background-radius: 0px;
}

#mainButton:hover{
    -fx-background-color: #6747CD;
    -fx-background-radius: 0px;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-style: solid;
}

#libButton{
    -fx-background-color: #6747CD;
    -fx-background-radius: 0px;
}

#libButton:hover{
    -fx-background-color: #6747CD;
    -fx-background-radius: 0px;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-style: solid;
}

#rainbowPic:hover{
    -fx-pref-height: 120px;
    -fx-pref-width:120px;
}